
<div class="photo">
<div class="flotte">
    <h1 class="display-5 text-center text-black ">
      Le service Vélib'
           </h1>
    <h2 class="text-center">
      Tout ce que vous devez savoir sur les nouveaux Vélib’       </h2>
    </div>
</div>
