/* You can add global styles to this file, and also import other style files */
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4%;
    color: white;
    text-align: center;
    background-color: black;
}